P, UL, OL, DIV, SPAN, H1, H2, H3, H4, H5, H6, PRE, 
EM, STRONG, ADDRESS, TABLE, TR, TH, TD, LI, TBODY,
	/* Above and other stupidities for *?*()!*$* netscape navigator 4 */
BODY 
{ 	
	vertical-align: middle;
	background-color: white;
	color: rgb(50,50,50);
	font-family: "Century Gothic", sans-serif;
	margin-left: 10%;
	margin-right: 10%;
	text-align: right;
}

H1,H2,H3,H4,H5,H6 {
	background-color: rgb(150,150,150);
	margin-left: 20%;
	margin-right: 20%;
	font-style: normal;
	font-weight: bold;
	font-family: "News Gothic","Century Gothic", sans-serif;
}

H1 { font-size: 200%; }

H2 { font-size: 125%; }

H3 { font-size: 106%; }

.hhmts
{ 
	margin-top: 3em;
	color: rgb(100,100,100);
}
